<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Usser</a>
        <a class="active" href="/login">Login</a>
    </div>

    <div class="form">
        <form action="/create-user" method="post" enctype="multipart/form-data"> <!-- Thêm enctype -->
            <fieldset>
                <legend>Form login</legend>
                <div class="input-group">
                    <label for="">Email :</label>
                    <input type="text" name="email" required> <!-- Thêm required -->
                </div>
                <div class="input-group">
                    <label for="">Password :</label>
                    <input type="text" name="name" required> <!-- Thêm required -->
                </div>
                <div>
                    <button>login</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>